.navbar {
    z-index: 2;
}

.bus {
    position: absolute;
    bottom: 6%;
    right: 5%;
}

.landing-abt {

    height: 90vh;
    overflow: hidden;
}

.maincontent {
    height: 80vh;
    position: relative;
    top: 13%;
    z-index: 1;
    overflow: hidden;
}

.maincontent h1 {
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;

}

.content p {
    position: relative;
    right: 70%;
    top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    height: 30vh;
    width: 40vw;
}

.small-info {
    width: 10vw;
    text-align: center;

}

.socio {

    height: 16vh;
    width: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #212529;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    right: 0px;
    /* line-height: 30px; */

}

.form-floating>.form-control,
.form-floating>.form-select {
    height: 0;
    padding: 12%;
    width: 140%;
    position: relative;
    right: 40%;

}

.b {
    position: relative;
    top: 0vh;
    /* height:200vh; */
    /* background-color: #595a5c; */
    background-color: #dde4ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* line-height: 30px; */
    /* justify-content: space-between; */
}

.container-selection {
    position: relative;
    /* top: 0; */
    height: 30vh;
    width: 60vw;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.start-destiney {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* line-height: 10px; */
    /* background-color: rgb(34, 79, 117); */
    width: 30vw;
    height: 10vh;
}

.startlogo {
    height: 5vh;
    width: 3vw;
    text-align: center;
    border: 1px solid #ffc107;
    border-radius: 5px;
    background-color: #ffc107;
}

.destineylogo {
    height: 5vh;
    width: 3vw;
    text-align: center;
    border: 1px solid #ffc107;
    border-radius: 5px;
    background-color: #ffc107;
}

.end-destiney {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* line-height: 10px; */
    /* background-color: rgb(34, 93, 145); */
    width: 30vw;
    height: 10vh;

}

.kilo-price-bpr {
    position: relative;
    /* top: 0; */
    height: 40vh;
    /* text-decoration:underline; */
    width: 60vw;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    /* align-items: center; */
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
}

.table1 {
    position: relative;
    /* top: 0; */
    /* height:50vh; */
    width: 60vw;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* line-height: 30px; */
    justify-content: space-around;
}

.foot {
    background-color: #212529;
    height: 40vh;
    color: white;
}

.foot h3 {
    position: relative;
    left: 1%;
    top: 2%;
    width: 60vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paragh {
    position: relative;
    left: 10%;
    width: 60vw;

}

.paragh a {
    /* text-decoration: none; */
    color: aliceblue;
}

@media screen and (max-width: 768px) {

    .landing-abt {
        position: absolute;
        top: 10%;
    }

    .maincontent h1 {
        font-size: 2.5em;
        position: relative;
        bottom: 10vh;
    }

    .maincontent {
        position: relative;
        bottom: 10vh;
    }

    .content {
        height: auto;
        width: auto;
    }

    .content p {
        position: relative;
        right: 5%;
        bottom: 8vh;
    }

    .bus {
        position: absolute;
        top: 68%;
        left: 4%;
        width: 110vw;
    }

    .small-info {
        width: 40vw;
        text-align: center;
        position: relative;
        bottom: 14%;

    }

    .socio {
        position: absolute;
        right: -4px;
    }

    .b {
        position: relative;
        top: 100vh;
    }

    .container-selection {
        width: 100%;
    }

    .startlogo {
        position: relative;
        right: 10%;
        width: auto;
    }

    .destineylogo {
        position: relative;
        right: 10%;
        width: auto;
    }

    .form-floating>.form-control,
    .form-floating>.form-select {
        height: auto;
        width: 30vw;
        position: relative;
        left: 10%;
    }

    .kilo-price-bpr {
        width: 100%;
        /* line-height: 20px; */
    }

    .table1 {
        width: 100%;
        overflow: hidden;
    }

    .foot {
        position: relative;
        top: 100vh;
        height: 34vh;
    }
}
